sudo: required 
services:
  - docker
language: node_js
node_js: 12

before_install:
  - docker version
  - docker info
install:
    - npm install newman
    - npm install
before_script:
    - node --version
    - npm --version
    - node_modules/.bin/newman --version  
    
script:
- npm run test
- npm run build
- npm run package:linux
- docker build -t jjverhoeven/devops-labs-02:1.0.0 .
- docker run --name example_api -d -t -v ${PWD}/swagger.yaml:/app/swagger.yaml -v ${PWD}/students.json:/app/students.json -p 127.0.0.1:8080:3000 jjverhoeven/devops-labs-02:1.0.0
- docker ps
- count=0 && until $(curl --output /dev/null --silent --head --fail http://localhost:3000);
  do printf '.' && sleep 3 && count=$((count+1)) && if [ $count -gt 5 ]; then break;
  fi; done
- docker logs example_api
- node_modules/.bin/newman run test/postman_collection.json -e test/postman_environment.json

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker push jjverhoeven/devops-labs-02:1.0.0
